

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body  {
  font-family: Bitter, sans-serif;
}

nav {
  font-family: 'Fjalla One', sans-serif;
  background: #131417;
  font-size: 1.3em;
  color: #e8e1d5;
}
nav a {
  color: #e8e1d5;
}
nav a:hover {
  color: rgba(232, 225, 213, 0.8);
}
#banner{
  background-color: #343841;
  margin-top:46px;
}
.bg-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
